<h1>{{title}}</h1>
<h3>{{pesan}}</h3>
<form method="POST" action="/">
  <div class="form-group">
    <label for="exampleInputEmail1">Judul</label>
    <input name="title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Judul">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Content</label>
    <input name="content" class="form-control" id="exampleInputPassword1" placeholder="Content">
  </div>
 <div class="form-group">
  <label for="sel1">Topik:</label>
  <select name="topic" class="form-control" id="sel1">
    <option value="SukoWidodo">1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
  </select>
</div> 
  <button type="submit" class="btn btn-primary">Kirim</button>
</form>